
[Desktop Entry]
Version=1.0
Type=Application
Name=Intellij
Comment=
Exec=/opt/idea/bin/idea.sh
Icon=/opt/idea-IU-133.696/bin/idea.png
Path=/opt/idea
Terminal=false
StartupNotify=false
